<ion-view title="Join a Group">
    <ion-content overflow-scroll="true" padding="'false'" scroll="false" class="has-header">
        <!-- show if there is no current user -->
        <form>
        
                <label class="item item-input">
                    <span class="input-label">Group Admin Email Address</span>
                    <input type="email" ng-model="admin.email" placeholder="Group Name">
                </label>
            
            <button class="button button-block"  ng-click="joinGroup()">Join Group</button>
        </form>
        <div ng-show="noResults.bool">No results. please enter a valid email address.</div>
    </ion-content>
</ion-view>