<ion-view class="setup-bg" title="Log in">
 <ion-content overflow-scroll="true" padding="'true'" scroll="false" class="has-header">
        <!-- Show if there is no current user -->
        <div ng-hide="authData">
            <img class="logo-large" src="img/roadwarrior-logo-black.png" />
            <form style="margin-bottom: 0px;"class="list">
                <ion-list>
                    <label class="item item-input">
                        <span class="input-label">Email</span>
                        <input type="text" ng-model="user.email" placeholder="">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="user.password" placeholder="">
                    </label>
                </ion-list>
                <button class="col col-50 col-offset-25 button button-small button-block button-dark" ng-click="login()">
                    Log in!
                </button>
            </form>
           
            <a ng-click="goToSignup()" style="margin-top: 0px;"class="button button-dark button-small button-clear button-block ">
                Need an account?
            </a>
        </div>
        <!-- Show if user is already logged in -->
        <div class="card" ng-show="authData">
            <div class="item item-text-wrap">
                You are logged in as {{ currentUser.name }}!
            </div>
            <button class="item" ng-click="logout()">
                Log out
            </button>
        </div>
    </ion-content>
</ion-view>