<ion-view view-title="New Itin">
  <ion-content class="padding" scroll="false">
  <h3 class="center-text small-margin header-font-heavy">{{event.longDate}}</h3>
  <h4 class="center-text small-margin header-font">{{event.cityState}}</h4>

  <form class="form-spacing" name="myForm" ng-submit="submitNewItin(event)" novalidate>
  <div class="list">  
    <div class="item-time">
    <div class="row">
      <div class="col col-50">
        <label ng-class="{'valError': submitted && myForm.startTime.$error.required}" class="item item-input item-input-time">
          <span class="input-label">Start Time: </span>
            <input ng-model="itin.startTime" type="text" name="startTime" ng-readonly="true" ng-click="openStartTimePicker()" required>

        </label>  
      </div>  
      <div class="col col-50">
        <label class="item item-input item-input-time">
          <span class="input-label">End Time: </span>
          <input ng-model="itin.endTime" type="text" ng-readonly="true" ng-click="openEndTimePicker()">
        </label>  
      </div> 
      </div>   
    </div>
      <label ng-class="{'valError': submitted && myForm.mainItem.$error.required, 'valErrorSecond': submitted && myForm.mainItem.$error.maxlength}" class="item item-input">
              <input ng-model="itin.mainItem" type="text" name="mainItem" placeholder="Itinerary Item Name"  ng-maxlength="24" required>
              <!-- <span class="help-inline" ng-show="submitted && myForm.mainItem.$error.required">* Required</span> -->
      </label>
 
    <label class="item item-input">
            <textarea ng-model="itin.details" name="info" rows="3" id="itin-details" placeholder="Additional Information"></textarea>
    </label> 
    
    <div class="list setting-text">
    <ion-toggle ng-model="nextDay" ng-change="nextDayToggle()">Make for following AM?</ion-toggle>
    </div>
    
         <button class="button button-block button-dark itin-button" type="submit">Submit</button>
        </div> 
        </form>
        
             <div class="alert alert-danger" ng-show="submitted && myForm.date.$error.required" role="alert">
              <i class="icon ion-alert-circled"></i>
                Event date is required.
              </div>
           <div class="alert alert-danger" ng-show="submitted && myForm.startTime.$error.required" role="alert">
              <i class="icon ion-alert-circled"></i>
                Start time is required.
              </div>
              <div class="alert alert-danger" ng-show="submitted && myForm.mainItem.$error.required" role="alert">
              <i class="icon ion-alert-circled"></i>
                Itinerary name is required.
              </div>
            <div class="alert alert-danger" ng-show="submitted && myForm.mainItem.$error.maxlength" role="alert">
              <i class="icon ion-alert-circled"></i>
                Your itinerary name must be less than 24 characters.
              </div>
         

  </ion-content>
</ion-view>

