<ion-modal-view>
   <ion-header-bar>
      <h1 class = "title">Create a New Itinerary Item</h1>
      <button ng-click = "closeNewItinModal()" class="button button-clear button-dark ion-ios-close-outline"> Close</button>
   </ion-header-bar>
  
   <ion-content class="padding">
               
         <label class = "item item-input item-select">
   <div class = "input-label">
      Select
   </div>
  
   <select>
      <option>Option 1</option>
      <option selected>Option 2</option>
      <option>Option 3</option>
   </select>
</label>
        
          
         <button class="button button-block button-stable" ng-click ="submitNewEventModal()">Submit</button>
        </div>    
      </ion-content>
</ion-modal-view>