<style>
.popover {max-width: 100%; background-color: white; width: 92%; border-radius: 0px !important; top:20% !important; left:4% !important;}
.popover-arrow {display: none;}
.popover-arrow:after {display: none;}
</style>
<ion-popover-view>
  <ion-content>
    <ion-list ng-if="results">
      <ion-item style="font-size: 13px; text-align: center;" ng-repeat="result in results">
        <a ng-click="selectAddressVenue(result)"><span style="font-weight: bold;">{{result.name}}</span><br>
        {{result.formatted_address}}</a>
      </ion-item>
    </ion-list>
    <div ng-if="!results">No results</div>
  </ion-content>
</ion-popover-view>
