<ion-view class="setup-bg" title="Create an Account">
    <ion-content overflow-scroll="true" padding="'false'" scroll="false" class="has-header">
        <!-- show if there is no current user -->
        <form style="margin-bottom: 0px;" class="list" ng-hide="authData">
         <img class="logo-large" src="img/roadwarrior-logo-black.png" />
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="user.name" placeholder="your name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="user.email" placeholder="your email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="user.password" placeholder="your password">
                </label>
            </ion-list>
            <button style="margin-top: 20px;" class="col col-50 col-offset-25 button button-small button-block button-dark"  ng-click="signup()">Sign up!</button>
        </form>
        <a ng-click="goToLogin()" style="margin-top: 0px;" class="button button-dark button-small button-clear button-block ">
                Already have an account? Log in here.
        </a>
        <!-- Show if user is already logged in -->
        <div class="card" ng-show="authData">
            <div class="item item-text-wrap">
                You are logged in as {{ currentUser.name }}!
            </div>
            <button class="item" ng-click="logout()">
                Log out
            </button>
        </div>
    </ion-content>
</ion-view>