<ion-view view-title="{{event.longDate}}">
<ion-content class="padding" scroll="false">
  <ion-slides options="options" slider="data.slider">
    <ion-slide-page>
      <div class="postLoad"> 
        <div class="row">
          <div  class="col col-67">
            <h4 class="no-margin header-font">{{event.weekDay}}</h4>
            <h4 class="no-margin header-font">{{event.longDate}}</h4>
            <h3 ng-if="event" class="no-margin header-font-heavy">{{event.venue}}</h3>
            <h4 ng-if="event" class="no-margin header-font">{{event.cityState}}</h4>
          </div>
          <div ng-show="weatherData" class="weather-box col col-33">
            <span class="weather-image-list"><i class="wi wi-yahoo-{{weatherData.code}}"></i></span>
            <h4 class="weather-forecast center-text"><i class="wi wi-direction-up"></i> {{weatherData.high}}<span ng-show="weatherData">°</span> / <i class="wi wi-direction-down"></i> {{weatherData.low}}<span ng-show="weatherData">°</span></h4>
          </div>
        </div>
        <div style="padding-top:14px;" >
          <ion-scroll direction="y" style="height: 379px;">
            <ion-list ng-hide="itins.length === 0">
              <div ng-repeat="itin in itins | orderBy: 'startTimeUnix' track by $id($index)">
                <ion-item class="item-itin no-padding" ng-class="{active: isItinShown(itin)}">
                  <div class="row">
                    <button ng-if="thisGroup.level === 'admin'" ng-click="editItin(itin, event)" class="button button-primary button-small edit-button"><i class="ion ion-edit"></i></button>
                      <div ng-click="toggleItin(itin)" class="col itin-list itin-name"> {{itin.mainItem}}  </div>
                      <div ng-click="toggleItin(itin)" class="col itin-list itin-time">{{itin.startTime}}<span ng-show="itin.endTime"> - </span>{{itin.endTime}} <i class="icon icon-list" ng-if="itin.details" ng-class="isItinShown(itin) ? 'ion-minus-circled' : 'ion-plus-circled'"></i></div>                
                  </div>
                </ion-item>
                <ion-item class="item-accordion" ng-show="isItinShown(itin)">
                    {{itin.details}}
                </ion-item>
              </div>
            </ion-list>
          </ion-scroll>
        </div>
      </div>            
    </ion-slide-page>

    <ion-slide-page>
    Two
    </ion-slide-page>
  </ion-slides>
</ion-content>










</ion-view>




            
           