<ion-view view-title="Today">
  <ion-content class="padding">
    <div ng-if="currentGroup.access !== 'pending'">
      <div class="weather-box">
        <img class="weather-img" src="../img/weather.png">
        <h3 class="weather-main-temp center-text">72°</h3>
        <h5 class="weather-forecast center-text">80° / 56°</h5>
      </div>
    <div class="today-header-div">
      <h5 class="no-margin">{{day_of_week}}</h5>
      <h4 class="no-margin">{{now_formatted_date}}</h4>
      <h4 ng-if="result" class="no-margin">{{event.venue}}</h4>
      <h5 ng-if="result" class="no-margin">{{event.cityState}}</h5>
    </div>
    </div>
    <div class="clear-float"></div>
    <div ng-if="result === false">
    <h4>There is no event scheduled today.</h4>
    </div>
    <div ng-if="currentGroup.access === 'pending'">
    <h3>Your attempt to join a group is still pending - Talk to your administrator.</h3>
    </div>
    <ion-list>
    <ion-item ng-repeat="itin in todayItins | toArray:false | orderBy: 'startTimeUnix'" class="no-padding">
      <div class="row">
        <div class="col itin-list itin-item">{{itin.mainItem}}</div>
        <div class="col itin-list itin-time">{{itin.startTime}}<span ng-show="itin.endTime"> - </span>{{itin.endTime}}</div>
      </div>
    </ion-item>
</ion-list>
  </ion-content>
</ion-view>
