<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item ng-click="toMain()" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
        <h2>{{main[0].user}}</h2>
        <p>{{main[0].message}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
       <ion-item ng-click="toShow()" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
        <h2>{{show[0].user}}</h2>
        <p>{{show[0].message}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
       <ion-item ng-click="toFun()" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
        <h2>{{fun[0].user}}</h2>
        <p>{{fun[0].message}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>