<ion-view view-title="{{event.longDate}}">
<ion-content class="padding" scroll="false">
 <div class="spinner" ng-hide="weatherLoaded && loaded && itinsLoaded">
  <ion-spinner></ion-spinner>
  </div>





  <ion-slides options="options" slider="data.slider">
    <ion-slide-page>
      <div ng-show="weatherLoaded && loaded && itinsLoaded" class="postLoad"> 
          <div class="row no-margin">
               <div class="col text-left no-padding">
                <button ng-if="thisGroup.level === 'admin'" style="margin-bottom: 0px; margin-left: 5px;" ng-click="editEvent(event)" class="button button-small button-tertiary-light"><i class="ion ion-edit"></i> Edit Event</button>
                </div>
                </div>
        <div ng-if="thisGroup.level !== 'admin'" style="padding-top: 6px;"></div>
        <div class="row day-header">
          <div  class="col col-67">
            <h4 class="no-margin header-font">{{event.weekDay}}</h4>
            <h4 class="no-margin header-font">{{event.longDate}}</h4>
            <h4 ng-if="event" class="no-margin header-font-heavy">{{event.venue}}</h4>
            <h4 ng-if="event" class="no-margin header-font">{{event.cityState}}</h4>
          </div>
          <div ng-show="weatherData.high && weatherData.low && weatherData.code" class="weather-box col col-33">
            <span class="weather-image-list"><i class="wi wi-yahoo-{{weatherData.code}}"></i></span>
            <h4 class="weather-forecast center-text"><i class="wi wi-direction-up"></i> {{weatherData.high}}<span>°</span> / <i class="wi wi-direction-down"></i> {{weatherData.low}}<span>°</span></h4>
          </div>
        </div>
        <div ng-if="thisGroup.level !== 'admin'" style="padding-top: 18px;"></div>
        <div ng-if="itins.length !== 0">
            <button ng-if="thisGroup.level === 'admin'" ng-click="newItin(event)" class="col col-50 col-offset-25 button button-small button-tertiary-light custom-tab"><i class="ion ion-plus"></i> Add Item</button>
          <ion-scroll direction="y" style="height: 329px;">
            <ion-list>
              <div ng-repeat="itin in itins | orderBy: 'startTimeUnix' track by $id($index)">
                <ion-item class="item-itin no-padding" ng-class="{active: isItinShown(itin)}">
                  <div class="row">
                    <button ng-if="thisGroup.level === 'admin'" ng-click="editItin(itin, event)" class="button button-primary button-small edit-button"><i class="ion ion-edit"></i></button>
                      <div ng-click="toggleItin(itin)" class="col itin-list itin-name"> {{itin.mainItem}}  </div>
                      <div ng-click="toggleItin(itin)" class="col itin-list itin-time">{{itin.startTime}}<span ng-show="itin.endTime"> - </span>{{itin.endTime}} <i class="icon icon-list" ng-if="itin.details" ng-class="isItinShown(itin) ? 'ion-minus-circled' : 'ion-plus-circled'"></i></div>                
                  </div>
                </ion-item>
                <ion-item class="item-accordion" ng-show="isItinShown(itin)">
                    {{itin.details}}
                </ion-item>
              </div>
            </ion-list>
          </ion-scroll>
        </div>
           <div class="no-itins center-text" ng-if="itins.length === 0">
              <div class="cat-time"></div>
              <h3 class="no-margin">Your itinerary is empty.</h3>
              <h2 class="no-margin header-font-heavy">ROADIE FRIDAY!</h2> 
                 <button ng-if="thisGroup.level === 'admin'" ng-click="newItin(event)" class="col col-50 col-offset-25 button button-small button-tertiary-light"><i class="ion ion-plus"></i> Add Item</button> 
           </div>
      </div>            
    </ion-slide-page>

    <ion-slide-page>
    Two
    </ion-slide-page>
  </ion-slides>
</ion-content>










</ion-view>




            
           