<ion-view view-title="Event List">
  <ion-content class="padding" >
    <div ng-if="events.length > 0 && thisGroup.access === true">
      <ion-list class="event-list">
        <ion-item class="event-list-item" ng-repeat="event in events | tooOld | orderBy: 'unixDate'" ng-click="viewDay(event)">
          <div class="row">
            <div class="col col-33">
            <span class="list-dow">{{event.dayOfWeek}}</span> <br> <span class="list-date">{{event.longDate}}</span>
            </div>
            <div class="col col-67 text-right">
            <span class="list-venue">{{event.venue}}</span> <br> <span class="list-city">{{event.cityState}}</span>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div ng-if="events.length === 0 && thisGroup.access === true">
    <h3>You have no events.</h3>
    </div>
    <div ng-if="thisGroup.access === false">
    <h3>Your attempt to join this group is still pending - Talk to your administrator.</h3>
    </div>
       <div class="no-group-cat center-text" ng-if="!thisGroup.level">
                <div class="cat-time-no-event"></div>
                  <h3 class="no-margin header-font-heavy">You have no active group.</h3> 
                </div>
              </div>
  </ion-content>
</ion-view>

<!-- | tooOld | orderBy: 'unixDate' -->