<ion-view view-title="Settings" class="settings">
<!--   <ion-nav-buttons side="right"> 
    <span style="padding:5px;font-weight: bold">Debug</span>
    <label class="toggle toggle-balanced">
       <input type="checkbox" ng-click="onToggleDebug()" ng-model="state.debug">
       <div class="track">
         <div class="handle"></div>
       </div>
    </label>
  </ion-nav-buttons> -->

  <ion-content scroll="true" class="">
    <ion-list>
      <div class="item item-divider">
        User Information
      </div>
      <ion-item class="item-icon-left">
        Current User:
        <i class="current-value">{{profile.name}}</i>
        <i class="icon ion-person"></i>
      </ion-item>


      <label class="item item-select item-icon-left">
        <div>
          <i class="icon ion-person-stalker"></i>   
          Current Group:
        </div>
        <select ng-model="selected"  ng-change="switchGroup(selected)" ng-options='group.name for group in groups'>
        </select>
      </label> 
      <ion-item ng-click="logout()">
        Log out
      </ion-item>
       
      <div class="item item-divider">
        Admin
      </div>
      <ion-item ng-click="newEvent()"class="item-icon-right item-icon-left">
        <i class="icon ion-plus"></i>
        Create a New Event
        <i class="current-value"></i>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
       <ion-item ng-click="editEvent()"class="item-icon-right">
        Edit an Event
        <i class="current-value"></i>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
       <ion-item ng-click="newItin()"class="item-icon-right">
        Create a New Itinerary Item
        <i class="current-value"></i>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

    

  </ion-content>
  </ion-view>






<!-- <ion-view view-title="Account">
  <ion-content>
    <div class="list">
      <div class="item row"> 
        
          <div class="col">
            <i class="icon ion-person"></i>   <span class="settings-label">Current User:</span>     
          </div>
          <div class="col">
            <span class="text-right">{{profile.name}}</span>  
          </div>
      
      </div>

      <label class="item item-select select-settings">
        <div>
          <i class="icon ion-person-stalker"></i>   <span class="settings-label">Current User:</span>
        </div>
        <span class="text-right">{{profile.name}}</span>  
      </label> 
    
      <label class="item item-select select-settings">
        <div>
          <i class="icon ion-person-stalker"></i>   <span class="settings-label">Current Group:</span>
        </div>
        <select ng-model="selected"  ng-change="switchGroup(selected)" ng-options='group.name for group in groups'>
        </select>
      </label> 
  


      <ion-item ng-click="logout()">
        Log out
      </ion-item>


    </div>
              
             
           
       
        <div class="button-group"> 
       <button class="button button-block button-dark button-small-margin" ng-click ="openNewEventModal()">Add an Event</button>
       <button class="button button-block button-dark button-small-margin" ng-click ="openNewItinModal()">Add an Itinerary Item</button>
       <button class="button button-block button-dark button-small-margin" ng-click = "newGroup()">Add a Group</button>
       </div>
   
 
  </ion-content>
</ion-view> -->
<!-- ng-change="getScoreData(selectedGroup)" -->

  <!--  <label>Color (null not allowed):
    <select ng-model="myColor" ng-options="color.name for color in colors"></select>
  </label><br/> -->