
<ion-view class="today-bg" view-title="Today">
<ion-content class="padding" scroll="false">
  <div class="spinner" ng-if="thisGroup.access === true" ng-hide="loaded && itinsLoaded && weatherLoaded">
  <ion-spinner></ion-spinner>
  </div>

  <div ng-if="noToday">
    <div style="padding-top:20px;" class="row">
      <div  class="col col-75">
        <h5 class="no-margin header-font">{{day_of_week}}</h5>
        <h5 class="no-margin header-font">{{now_formatted_date}}</h5>
      </div>
    </div>
  <div class="no-itins center-text">
    <div class="cat-time-no-event"></div>
    <h3 class="no-margin">You have no event scheduled today.</h3> 
  </div>
 </div>



  <ion-slides ng-if="thisGroup.access === true && event" options="options" slider="data.slider">
    <ion-slide-page disable-scroll="false">
               <div class="postLoad" ng-show="loaded && itinsLoaded && weatherLoaded"> 
               <div class="row no-margin">
               <div class="col text-left no-padding">
                <button ng-if="thisGroup.level === 'admin'" style="margin-bottom: 0px; margin-left: 5px;" ng-click="newItin(event)" class="button button-small button-tertiary-light"><i class="ion ion-edit"></i> Edit Event</button>
                </div>
                </div>
                  <div class="row">
                  <div class="col col-67">

                  <h4 class="no-margin header-font">{{day_of_week}}</h4>
                  <h4 class="no-margin header-font">{{now_formatted_date}}</h4>
                  <h4 ng-if="event" class="no-margin header-font-heavy">{{event.venue}}</h4>
                  <h4 ng-if="event" class="no-margin header-font">{{event.cityState}}</h4>
                  </div>
                  <div ng-show="weatherData.condition.temp" class="weather-box col col-33">
                    <span class="weather-image"><i class="wi wi-yahoo-{{weatherData.condition.code}}"></i></span>
                    <h3 class="weather-main-temp center-text">{{weatherData.condition.temp}}<span ng-show="weatherData">°</span></h3>
                    <h4 class="weather-forecast center-text"><i class="wi wi-direction-up"></i> {{weatherData.forecast[0].high}}<span ng-show="weatherData">°</span> / <i class="wi wi-direction-down"></i> {{weatherData.forecast[0].low}}<span ng-show="weatherData">°</span></h4>
                  </div>
                </div>
                <div ng-hide="itins.length === 0" style="padding-top:14px;" >
                <button ng-if="thisGroup.level === 'admin'" ng-click="newItin(event)" class="col col-50 col-offset-25 button button-small button-tertiary-light custom-tab"><i class="ion ion-plus"></i> Add Item</button>
                <ion-scroll direction="y" style="height: 337px;">
                <ion-list>
               
                <div ng-repeat="itin in itins | orderBy: 'startTimeUnix' track by $id($index)">
                      <ion-item class="item-itin no-padding" ng-class="{active: isItinShown(itin)}">
                        <div class="row">
                          <button ng-if="thisGroup.level === 'admin'" ng-click="editItin(itin, event)" class="button button-primary button-small edit-button"><i class="ion ion-edit"></i></button>
                         
                            <div ng-click="toggleItin(itin)" class="col itin-list itin-name"> {{itin.mainItem}}  </div>
                            <div ng-click="toggleItin(itin)" class="col itin-list itin-time">{{itin.startTime}}<span ng-show="itin.endTime"> - </span>{{itin.endTime}} <i class="icon icon-list" ng-if="itin.details" ng-class="isItinShown(itin) ? 'ion-minus-circled' : 'ion-plus-circled'"></i></div>
                        
                        </div>
                      </ion-item>
                      <ion-item class="item-accordion" ng-show="isItinShown(itin)">
                       <!--  <div class="center-text accordion-header">{{itin.mainItem}}</div> -->
                        {{itin.details}}
                      </ion-item>
              </div>
             
            </ion-list>
            </ion-scroll>
            </div>
             <!-- When there are is an event but no itinerary items -->
             <div class="no-itins center-text" ng-show="itins.length === 0">
              <div class="cat-time"></div>
              <h3 class="no-margin">Your itinerary is empty.</h3>
              <h2 class="no-margin header-font-heavy">ROADIE FRIDAY!</h2> 
             </div>

             
              
              <div class="no-group-cat center-text" ng-if="!thisGroup.level">
                <div class="cat-time-no-event"></div>
                  <h3 class="no-margin header-font-heavy">You have no active group.</h3> 
                </div>
              </div>
           
          </div>  
    </ion-slide-page>
    <ion-slide-page ng-show="event.lng && event.lat">
    <div ng-if="yelpLoading()">
      <h5 class="center-text no-margin">Powered by <img class="yelp-logo" src="img/yelp.png"></h5>
        <h4 class="center-text no-margin header-font-heavy">What's Nearby</h4>
        <div class="row" style="margin-bottom: 15px;">
          <div class="col col-50 col-offset-25">
            <div class="button-bar">
              <a ng-click="yelpShowFood()" class="button button-tertiary button-yelp" ng-class="{active: yelpShow.food}"><i class="icon ion-pizza"></i></a>
              <a ng-click="yelpShowEntertainment()" class="button button-tertiary button-yelp" ng-class="{active: yelpShow.entertainment}"><i class="icon ion-film-marker"></i></a>
              <a ng-click="yelpShowEmergency()" class="button button-tertiary button-yelp" ng-class="{active: yelpShow.emergency}"><i class="icon ion-medkit"></i></a>
            </div>
          </div>
        </div>
        <div class="yelp fade" ng-cloak ng-if="yelpShow.food">
              <ion-list ng-if="yelp.restaurants.length > 0">
              <div class="item-itin item-divider">
                <h5 class="no-margin header-font">Food</h5>
              </div>
                <ion-item class="item-itin yelp-list" ng-repeat="restaurant in yelp.restaurants">
                  <div class="row">
                    <div class="col col-50 no-padding-top">
                      <span class='yelp-name'>{{restaurant.name | cut:false:25:'...'}}</span><br>
                      <div class='yelp-review'><img ng-src="{{restaurant.rating_img_url_small}}"></div><div class='yelp-review-count'>{{restaurant.review_count}} Reviews</div><br>
                      <span class="yelp-address">{{restaurant.location.display_address[0]}} {{restaurant.location.city}}</span>
                    </div>
                    <div class="col col-50 no-padding-top text-right">
                      <span ng-show="event.address" class="yelp-distance">{{metersToMiles(restaurant.distance)}} mi</span><br><span class="yelp-category">{{restaurant.categories[0][0]}}</span>
                    </div>
                  </div>
                </ion-item>
              </ion-list>
              <br>
            
              <ion-list ng-if="yelp.coffee.name">
                <div class="item-itin item-divider">
                  <h5 class="no-margin header-font">Coffee/Tea</h5>
                </div>
                <ion-item class="item-itin yelp-list">
                  <div class="row">
                    <div class="col col-50 no-padding-top">
                      <span class='yelp-name'>{{yelp.coffee.name | cut:false:25:'...'}}</span><br>
                      <div class='yelp-review'><img ng-src="{{yelp.coffee.rating_img_url_small}}"></div><div class='yelp-review-count'>{{yelp.coffee.review_count}} Reviews</div><br>
                      <span class="yelp-address">{{yelp.coffee.location.display_address[0]}} {{yelp.coffee.location.city}}</span>
                    </div>
                    <div class="col col-50 no-padding-top text-right">
                      <span ng-show="event.address" class="yelp-distance">{{metersToMiles(yelp.coffee.distance)}} mi</span><br><span class="yelp-category">{{yelp.coffee.categories[0][0]}}</span>
                    </div>
                  </div>
                </ion-item>
              </ion-list>
        </div>
         <div class="yelp fade" ng-cloak ng-if="yelpShow.entertainment">
              <ion-list ng-if="yelp.gym.name">
              <div class="item-itin item-divider">
                <h5 class="no-margin header-font">Gym</h5>
              </div>
                <ion-item class="item-itin yelp-list">
                  <div class="row">
                    <div class="col col-50 no-padding-top">
                      <span class='yelp-name'>{{yelp.gym.name | cut:false:25:'...'}}</span><br>
                      <div class='yelp-review'><img ng-src="{{yelp.gym.rating_img_url_small}}"></div><div class='yelp-review-count'>{{yelp.gym.review_count}} Reviews</div><br>
                      <span class="yelp-address">{{yelp.gym.location.display_address[0]}} {{yelp.gym.location.city}}</span>
                    </div>
                    <div class="col col-50 no-padding-top text-right">
                      <span ng-show="event.address" class="yelp-distance">{{metersToMiles(yelp.gym.distance)}} mi</span><br><span class="yelp-category">{{yelp.gym.categories[0][0]}}</span>
                    </div>
                  </div>
                </ion-item>
              </ion-list><br>
              <ion-list ng-if="yelp.movie.name">
              <div class="item-itin item-divider">
                <h5 class="no-margin header-font">Movie Theater</h5>
              </div>
                <ion-item class="item-itin yelp-list">
                  <div class="row">
                    <div class="col col-50 no-padding-top">
                      <span class='yelp-name'>{{yelp.movie.name | cut:false:25:'...'}}</span><br>
                      <div class='yelp-review'><img ng-src="{{yelp.movie.rating_img_url_small}}"></div><div class='yelp-review-count'>{{yelp.movie.review_count}} Reviews</div><br>
                      <span class="yelp-address">{{yelp.movie.location.display_address[0]}} {{yelp.movie.location.city}}</span>
                    </div>
                    <div class="col col-50 no-padding-top text-right">
                      <span ng-show="event.address" class="yelp-distance">{{metersToMiles(yelp.movie.distance)}} mi</span><br><span class="yelp-category">{{yelp.movie.categories[0][0]}}</span>
                    </div>
                  </div>
                </ion-item>
              </ion-list><br>
              <ion-list ng-if="yelp.bookstore.name">
              <div class="item-itin item-divider">
                <h5 class="no-margin header-font">Bookstore</h5>
              </div>
                <ion-item class="item-itin yelp-list">
                  <div class="row">
                    <div class="col col-50 no-padding-top">
                      <span class='yelp-name'>{{yelp.bookstore.name | cut:false:25:'...'}}</span><br>
                      <div class='yelp-review'><img ng-src="{{yelp.bookstore.rating_img_url_small}}"></div><div class='yelp-review-count'>{{yelp.bookstore.review_count}} Reviews</div><br>
                      <span class="yelp-address">{{yelp.bookstore.location.display_address[0]}} {{yelp.bookstore.location.city}}</span>
                    </div>
                    <div class="col col-50 no-padding-top text-right">
                      <span ng-show="event.address" class="yelp-distance">{{metersToMiles(yelp.bookstore.distance)}} mi</span><br><span class="yelp-category">{{yelp.bookstore.categories[0][0]}}</span>
                    </div>
                  </div>
                </ion-item>
              </ion-list>
        </div>
         <div class="yelp fade" ng-cloak ng-if="yelpShow.emergency">
              <ion-list ng-if="yelp.pharmacy.name">
              <div class="item-itin item-divider">
                <h5 class="no-margin header-font">Pharmacy</h5>
              </div>
                <ion-item class="item-itin yelp-list">
                  <div class="row">
                    <div class="col col-50 no-padding-top">
                      <span class='yelp-name'>{{yelp.pharmacy.name | cut:false:25:'...'}}</span><br>
                      <div class='yelp-review'><img ng-src="{{yelp.pharmacy.rating_img_url_small}}"></div><div class='yelp-review-count'>{{yelp.pharmacy.review_count}} Reviews</div><br>
                      <span class="yelp-address">{{yelp.pharmacy.location.display_address[0]}} {{yelp.pharmacy.location.city}}</span>
                    </div>
                    <div class="col col-50 no-padding-top text-right">
                      <span ng-show="event.address" class="yelp-distance">{{metersToMiles(yelp.pharmacy.distance)}} mi</span><br><span class="yelp-category">{{yelp.pharmacy.categories[0][0]}}</span><br>
                       <span class='yelp-phone'><a ng-href='tel:{{yelp.pharmacy.display_phone}}'>{{yelp.pharmacy.formattedPhone}}</a></span>
                    </div>
                  </div>
                </ion-item>
              </ion-list>
              <ion-list ng-if="yelp.urgent.name">
              <br>
              <div class="item-itin item-divider">
                <h5 class="no-margin header-font">Urgent Care Clinic</h5>
              </div>
                <ion-item class="item-itin yelp-list">
                  <div class="row">
                    <div class="col col-50 no-padding-top">
                      <span class='yelp-name'>{{yelp.urgent.name | cut:false:25:'...'}}</span><br>
                      <div class='yelp-review'><img ng-src="{{yelp.urgent.rating_img_url_small}}"></div><div class='yelp-review-count'>{{yelp.urgent.review_count}} Reviews</div><br>
                      <span class="yelp-address">{{yelp.urgent.location.display_address[0]}} {{yelp.urgent.location.city}}</span>
                    </div>
                    <div class="col col-50 no-padding-top text-right">
                      <span ng-show="event.address" class="yelp-distance">{{metersToMiles(yelp.urgent.distance)}} mi</span><br><span class="yelp-category">{{yelp.urgent.categories[0][0]}}</span><br>
                       <span class='yelp-phone'><a ng-href='tel:{{yelp.urgent.display_phone}}'>{{yelp.urgent.formattedPhone}}</a></span>
                    </div>
                  </div>
                </ion-item>
              </ion-list>
              <ion-list ng-if="yelp.hospital.name">
              <br>
              <div class="item-itin item-divider">
                <h5 class="no-margin header-font">Hospital</h5>
              </div>
                <ion-item class="item-itin yelp-list">
                  <div class="row">
                    <div class="col col-50 no-padding-top">
                      <span class='yelp-name'>{{yelp.hospital.name | cut:false:25:'...'}}</span><br>
                      <div class='yelp-review'><img ng-src="{{yelp.hospital.rating_img_url_small}}"></div><div class='yelp-review-count'>{{yelp.hospital.review_count}} Reviews</div><br>
                      <span class="yelp-address">{{yelp.hospital.location.display_address[0]}} {{yelp.hospital.location.city}}</span>
                    </div>
                    <div class="col col-50 no-padding-top text-right">
                      <span ng-show="event.address" class="yelp-distance">{{metersToMiles(yelp.hospital.distance)}} mi</span><br><span class="yelp-category">{{yelp.hospital.categories[0][0]}}</span><br>
                       <span class='yelp-phone'><a ng-href='tel:{{yelp.hospital.display_phone}}'>{{yelp.hospital.formattedPhone}}</a></span>
  
                    </div>
                  </div>
                </ion-item>
              </ion-list>
        </div>
        </div>
    </ion-slide-page>
      
  </ion-slides>
      <div class="no-itins center-text" ng-if="thisGroup.access === false">
                <div class="cat-time-no-event"></div>
                  <h3 class="no-margin">Your attempt to join this group is still pending - Talk to your administrator.</h3> 
                </div>
              </div>         
</ion-content>






</ion-view>
