<ion-view view-title="{{event.longDate}}">
<ion-content class="padding">
   <div class="row">
                  <div style="padding-top:8px;" class="col col-75">
                 <!--  <h5 class="no-margin header-font">{{day_of_week}}</h5> -->
                  <h5 class="no-margin header-font">{{event.longDate}}</h5>
                  <h4 class="no-margin header-font-heavy">{{event.venue}}</h4>
                  <h5 class="no-margin header-font">{{event.cityState}}</h5>
                  </div>
                  <div ng-show="weatherData" class="weather-box col col-25">
                    <span class="weather-image"><i class="wi wi-yahoo-{{weatherData.condition.code}}"></i></span>
                    <h3 class="weather-main-temp center-text">{{weatherData.condition.temp}}<span ng-show="weatherData">°</span></h3>
                    <h5 class="weather-forecast center-text"><i class="wi wi-direction-up"></i> {{weatherData.forecast[0].high}}<span ng-show="weatherData">°</span> / <i class="wi wi-direction-down"></i> {{weatherData.forecast[0].low}}<span ng-show="weatherData">°</span></h5>
                  </div>
                </div>
                <ion-list ng-show="todayItins">
                <div ng-repeat="itin in todayItins | toArray:false | orderBy: 'startTimeUnix'">
                      <ion-item  ng-click="toggleItin(itin)" class="item-itin no-padding">
                        <div class="row">
                          <div class="col itin-list itin-name">{{itin.mainItem}}</div>
                          <div class="col itin-list itin-time">{{itin.startTime}}<span ng-show="itin.endTime"> - </span>{{itin.endTime}}</div>
                        </div>
                      </ion-item>
                      <ion-item class="item-accordion" ng-show="isItinShown(itin)">
                        {{itin.details}}
                      </ion-item>
              </div>
            </ion-list>
              </div>
             <div class="no-itins center-text" ng-show="!todayItins && !noEventResult()">
              <div class="cat-time"></div>
              <h3 class="no-margin">Your itinerary is empty.</h3>
              <h2 class="no-margin header-font-heavy">ROADIE FRIDAY!</h2>  
             </div>
              <div class="no-itins center-text" ng-show="noEventResult()">
              <div class="cat-time-no-event"></div>
              <h3 class="no-margin">You have no event scheduled today.</h3> 
             </div>
</ion-content>
</ion-view>